html,body{
    height:100%;
    width:100%;
}

.button{
    padding:20px;
    width:66px;
    margin:0 3px;
    border: 2px solid black;
    border-radius:9px;
    cursor:pointer;
    background: linear-gradient(45deg,#3a4452,#7d7d7d);
}

.row input{
    font-size:20px;
    width:296px;
    margin:0;
    padding:10px 0px;
    border:2px solid rgb(145, 43, 43);
    border-radius:5px;
    background:rgb(145, 81, 57);
}